.git
.github
.vscode
.idea
node_modules
client/node_modules
server/node_modules
venv
.venv
server_python/venv
env
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.vercel
server/uploads
server_python/uploads
*.db
*.sqlite
*.sqlite3
